<modules>
  <module>
    <name>电子书</name>
    <image>ebook</image>
    <url>http://wap.joycool.net/ebook/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>游戏</name>
    <image>game</image>
    <url>http://wap.joycool.net/game/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>图片</name>
    <image>image</image>
    <url>http://wap.joycool.net/image/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>新闻</name>
    <image>news</image>
    <url>http://wap.joycool.net/news/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>视频</name>
    <image>video</image>
    <url>resourceType=video</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>视频</name>
    <image>video</image>
    <url>http://wap.joycool.net/video/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>铃声</name>
    <image>ring</image>
    <url>resourceType=ring</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>铃声</name>
    <image>ring</image>
    <url>http://wap.joycool.net/ring/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>邀请好友</name>
    <image>invite</image>
    <url>http://wap.joycool.net/chat/inviteSend.jsp</url>
    <priority>20</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>邀请好友</name>
    <image>invite</image>
    <url>http://wap.joycool.net/chat/inviteRoom.jsp</url>
    <priority>20</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>聊天室</name>
    <image>chat</image>
    <url>http://wap.joycool.net/chat/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>银行</name>
    <image>bank</image>
    <url>http://wap.joycool.net/bank</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>排行榜</name>
    <image>top</image>
    <url>http://wap.joycool.net/top</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>排行榜</name>
    <image>top</image>
    <url>http://wap.joycool.net/chat/lastRank.jsp</url>
    <priority>20</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>排行榜</name>
    <image>top</image>
    <url>http://wap.joycool.net/chat/inviteRank.jsp</url>
    <priority>20</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>排行榜</name>
    <image>top</image>
    <url>http://wap.joycool.net/chat/rankInfo.jsp</url>
    <priority>20</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>智力问答</name>
    <image>question</image>
    <url>http://wap.joycool.net/job/question.jsp</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/job/question.jsp</returnurl>
  </module>
  <module>
    <name>智力问答</name>
    <image>question</image>
    <url>http://wap.joycool.net/job/result.jsp</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/job/question.jsp</returnurl>
  </module>
  <module>
    <name>听歌猜名</name>
    <image>song</image>
    <url>http://wap.joycool.net/job/mindex.jsp</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>听歌猜名</name>
    <image>song</image>
    <url>http://wap.joycool.net/job/musicq.jsp</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>听歌猜名</name>
    <image>song</image>
    <url>http://wap.joycool.net/job/musicr.jsp</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>机会卡</name>
    <image>card</image>
    <url>http://wap.joycool.net/job/card/</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/job/card/buyCard.jsp</returnurl>
  </module>
  <module>
    <name>打猎</name>
    <image>hunt</image>
    <url>http://wap.joycool.net/job/hunt</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/job/hunt/hunt.jsp</returnurl>
  </module>
  <module>
    <name>乐透</name>
    <image>lottery</image>
    <url>http://wap.joycool.net/job/lottery</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/job/lottery.jsp</returnurl>
  </module>
  <module>
    <name>二十一点</name>
    <image>21</image>
    <url>http://wap.joycool.net/wgame/g21/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>老虎机</name>
    <image>tiger</image>
    <url>http://wap.joycool.net/wgame/tiger/</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/wgame/tiger/index.jsp</returnurl>
  </module>
  <module>
    <name>猜大小</name>
    <image>dice</image>
    <url>http://wap.joycool.net/wgame/dice/</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/wgame/dice/index.jsp</returnurl>
  </module>
  <module>
    <name>三公</name>
    <image>3gong</image>
    <url>http://wap.joycool.net/wgame/3gong/</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/wgame/3gong/index.jsp</returnurl>
  </module>
  <module>
    <name>单回合三公</name>
    <image>3gong</image>
    <url>http://wap.joycool.net/wgamepk/3gong/</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/wgamepk/3gong/index.jsp</returnurl>
  </module>
  <module>
    <name>梭哈</name>
    <image>showhand</image>
    <url>http://wap.joycool.net/wgame/showhand/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>剪刀石头布</name>
    <image>jsb</image>
    <url>http://wap.joycool.net/wgame/jsb/</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/wgame/jsb/index.jsp</returnurl>
  </module>
  <module>
    <name>单回合剪刀石头布</name>
    <image>jsb</image>
    <url>http://wap.joycool.net/wgamepk/jsb/</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/wgamepk/jsb/index.jsp</returnurl>
  </module>
  <module>
    <name>比大小</name>
    <image>dicedx</image>
    <url>http://wap.joycool.net/wgamepk/dice</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/wgamepk/dice/index.jsp</returnurl>
  </module>
  <module>
    <name>比大小</name>
    <image>dicedx</image>
    <url>http://wap.joycool.net/wgame/dicedx</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/wgamepk/dice/index.jsp</returnurl>
  </module>
  <module>
    <name>射门</name>
    <image>football</image>
    <url>http://wap.joycool.net/wgame/football/</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/wgame/football/index.jsp</returnurl>
  </module>
  <module>
    <name>单回合射门</name>
    <image>football</image>
    <url>http://wap.joycool.net/wgamepk/football/</url>
    <priority>10</priority>
    <returnurl>http://wap.joycool.net/wgamepk/football/index.jsp</returnurl>
  </module>
  <module>
    <name>五子棋</name>
    <image>gobang</image>
    <url>http://wap.joycool.net/wgamehall/gobang/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>点球决战</name>
    <image>whfb</image>
    <url>http://wap.joycool.net/wgamehall/football/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>黑白棋</name>
    <image>othello</image>
    <url>http://wap.joycool.net/wgamehall/othello/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>论坛</name>
    <image>forum</image>
    <url>http://wap.joycool.net/forum/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
  <module>
    <name>我的家园</name>
    <image>home</image>
    <url>http://wap.joycool.net/home/</url>
    <priority>10</priority>
    <returnurl></returnurl>
  </module>
</modules>